
.activity-info {
	display: inline-block;
	float: right;
	margin-right: 60px;
}

.name-block {
	width: 150px;
	display: inline-block;
}

.activity-name {
	display: inline-block;
	width: 70px;
}

.info-block {
	font-weight: 800;
	font-size: 10pt;
}

.next-button {
	text-align: center;
	margin-top: 20px;
}

.activity-detail {
	margin-bottom: 10px;
}

.activity-detail a {
	margin-top: 120% !important;
}

.activity-cover {
	height: 200px;
	width: 200px;
}

.activity-cover img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.time-border {
	margin-top: 5px; 	
}

/* .filter {
	float: right;
} */

.to-hide {
	display: none;
}

.divider {
	position: relative;
}

.test-div {
	border: solid 1px #000;
}

.outline-div {
	margin: 10px;
	height: 100%;
	/* border: solid 3px gray; */
}
