template(name="index")
    .ui.black.segment
        h2.ui.header
            i.home.icon
            .content 主页
            .sub.header 查看最近发布的所有活动
    .ui.divider
    .ui.basic.segment
        .ui.header 按时间段筛选
        .ui.label From
        div.ui.left.icon.input
            input(type="text", name="lowerTime", placeholder="Start Time").datetimepicker.lower-time
            i.time.icon
        .ui.label To&nbsp;&nbsp;&nbsp;&nbsp;
        div.ui.left.icon.input
            input(type="text", name="upperTime", placeholder="End Time").datetimepicker.upper-time
            i.time.icon
        button.filter.ui.left.labeled.icon.positive.tiny.button 
            i.checkmark.icon
            |筛选
    .ui.divider

    div.activities-list
        each activities
            +activityItem
        if nextPath
            div.next-button
                a.fluid.ui.button(href="#{nextPath}") 加载更多

    //- div.activity-list.ui.red.segment
    //-     h3.ui.header 最近发布的活动
